[submodule "zsh/zsh-git-prompt"]
	path = zsh/zsh-git-prompt
	url = https://github.com/zsh-git-prompt/zsh-git-prompt
[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen
